@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0;
}

.App {
  background-color: #fec8cd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
