@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.incrementButton {
  width: 2vw;
  height: 2vw;
  outline: none;
  border-radius: 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1vw;
  user-select: none;
  cursor: pointer;
}
