body {
  margin: 0;
}

.Results {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.resultsContainer {
  display: flex;
  margin-top: 25vh;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 80vw;
  height: 45vh;
  align-items: center;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 0.3vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.3vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.3vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.error {
  color: red;
}
