body {
  margin: 0;
}

.Results {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.resultsContainer {
  display: flex;
  margin-top: 25vh;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 80vw;
}
::-webkit-scrollbar {
  width: 1vw;
  height: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1vw;
}

.error {
  color: red;
  margin-top: 15vh;
}
