<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Recommender</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body
    style="
      background-color: #fec8cd;
      display: flex;
      align-items: center;
      flex-direction: column;
    "
  >
    <h1
      style="
        font-family: 'Roboto Mono', monospace;
        color: #a30000;
        margin-top: 40vh;
        font-size: 1.7vw;
        user-select: none;
      "
    >
      enter an anime...
    </h1>
    <form
      action="#"
      method="post"
      id="createReport"
      class="recForm"
      autocomplete="off"
    >
      <input
        spellcheck="false"
        id="animeSearchInput"
        type="text"
        name="animeChoice"
        placeholder="naruto..."
        style="
          background-color: transparent;
          height: 5vh;
          width: 17vw;
          outline: none;
          border: none;
          font-size: 1.2vw;
          font-family: 'Roboto Mono', monospace;
          border-bottom: 0.4vh solid #a300006c;
          /* border-radius: 0.5rem; */
          color: #a30000;
          caret-color: #a30000;
        "
        autofocus
      />
      <div
        class="autocompleteContainer"
        id="autocompleteContainer"
        style="
          position: absolute;
          z-index: 2;
          width: 17vw;
          height: 20vh;
          padding: 0;
        "
      ></div>
    </form>
    <h2
      style="
        font-family: 'Roboto Mono', monospace;
        font-size: 1.2vw;
        color: #a30000ca;
        margin-top: 4vh;
        user-select: none;
      "
    >
      how many recs...
    </h2>
    <div
      style="
        display: flex;
        justify-content: space-evenly;
        width: 10vw;
        align-items: center;
        user-select: none;
        margin-top: 0;
      "
    >
      <button
        type="button"
        onclick="incrementUp()"
        id="incrementUp"
        class="increment"
        style="
          width: 2vw;
          height: 2vw;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          border: none;
          border-radius: 0.5rem;
          transition: 0.2s;
        "
      >
        <p
          style="
            font-size: 1vw;
            color: #a30000;
            font-size: 1.2vw;
            font-family: 'Roboto Mono', monospace;
          "
        >
          +
        </p>
      </button>

      <p
        id="number"
        style="
          font-size: 1vw;
          color: #a30000;
          font-size: 1.4vw;
          font-family: 'Roboto Mono', monospace;
        "
      >
        0
      </p>
      <button
        type="button"
        onclick="incrementDown()"
        id="incrementDown"
        class="increment"
        style="
          width: 2vw;
          height: 2vw;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          border: none;
          border-radius: 0.5rem;
          transition: 0.2s;
        "
      >
        <p
          style="
            font-size: 1vw;
            color: #a30000;
            font-size: 1.4vw;
            font-family: 'Roboto Mono', monospace;
          "
        >
          -
        </p>
      </button>
    </div>
    <button
      type="submit"
      form="createReport"
      class="increment"
      style="
        margin-top: 2vh;
        height: 4vh;
        width: 7vw;
        transition: 0.4s;
        font-size: 1.2vw;
        font-family: 'Roboto Mono', monospace;
        color: #a30000;
        outline: none;
        border: 0.3vh solid #a3000038;
        border-radius: 0.5rem;
        user-select: none;
      "
    >
      submit
    </button>
    <input
      name="howMany"
      form="createReport"
      id="howMany"
      style="display: none; user-select: none"
      value="0"
    />
    <script>
      function incrementUp() {
        let newValue =
          parseInt(document.getElementById("number").innerText) + 1;
        document.getElementById("number").innerHTML = newValue;
        document.getElementById("howMany").value =
          parseInt(document.getElementById("number").innerText) + 1;
      }

      function incrementDown() {
        if (parseInt(document.getElementById("number").innerText) > 0) {
          document.getElementById("number").innerHTML =
            parseInt(document.getElementById("number").innerText) - 1;
        }
      }
      function autocompleteValue(title) {
        document.getElementById("animeSearchInput").value = title;
      }
      const animeInput = document.getElementById("animeSearchInput");
      animeInput.onkeyup = function () {
        fetch(
          "https://kitsu.io/api/edge/anime?filter[text]=" + animeInput.value
        )
          .then((res) => {
            return res.json();
          })
          .then((result) => {
            var autocompleteTitles = [];
            for (let i = 0; i < result.data.length; i++) {
              const resultTitle =
                result.data[i]["attributes"]["canonicalTitle"];
              autocompleteTitles.push(resultTitle);
            }
            const autocompleteContainer = document.getElementById(
              "autocompleteContainer"
            );
            autocompleteContainer.innerHTML = "";
            let list = "";
            for (let i = 0; i < autocompleteTitles.length; i++) {
              list +=
                "<li class='autocompleteElementText' onclick='function autocompleteFunc(){ console.log('here')}()'>" +
                autocompleteTitles[i] +
                "</li>";
            }
            autocompleteContainer.innerHTML =
              "<ul class='autocompleteListContainer'>" + list + "</ul>";
          });
      };
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

      .increment {
        background-color: #ffaeb6;
      }
      .increment:active {
        background-color: #ff8894;
      }
      ::placeholder {
        font-weight: 500;
        color: #a3000052;
      }
      .autocompleteListContainer {
        list-style: none;
        font-family: "Roboto Mono", monospace;
        color: #a30000;
        background-color: #fa6d7b;
        overflow: auto;
        max-height: 30vh;
        margin-top: 0;
        padding: 0.5vw;
      }
      .autocompleteElementText {
        white-space: nowrap;
        padding: 0.1vw;
        user-select: none;
        font-size: 1.2vw;
      }
      ::-webkit-scrollbar {
        width: 0.5vw;
      }
      ::-webkit-scrollbar-thumb {
        background: #a30000;
        border-radius: 0.5rem;
      }
    </style>
  </body>
</html>
