.navbarContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: white;
}
.icon {
  cursor: pointer;
  transition: color 0.8s;
  margin-left: 3vw;
}
@media screen and (max-height: 768px) {
  .navbarContainer {
    height: 8rem;
  }
  .icon {
    margin-left: 2rem;
  }
}
